.content {
  padding: 5px;
  flex: 1;
  margin-right: 10px;
  border-radius: 5px;
  height: 100%;
}
.slider-container .slide .flex {
  margin: 0 10px;
  border: 1px solid var(--primary-color);
  padding: 0;
}
.slider-container .slide .flex .content,
.slider-container .slide .flex .images {
  padding: 0;
  margin: 0;
}
.slider-container .slide .flex .images {
  width: calc(60% - 20px);
}
.slider-container .slide .flex .content {
  width: calc(40% - 20px);
}
.slider-container .slide .flex .images img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}
.slider-container .slide .flex .content p {
  font-size: 14px;
  padding: 0 5px;
  font-style: italic;
  font-weight: 300;
}
